body {
  margin: 0;
  width: 100vw;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

#board-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#bg-img-container {
  background: linear-gradient(#FCBF49 ,#F77F00 ,#D62828, #3d348b);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: -1;
  top: 80px;
}

#bg-img {
  width: 100%;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  box-shadow: 10px 10px 11px #000000;
}

.cell {
  height: 180px;
  width: 180px;
  border: 5px solid black;
}

.cell > img {
  width: 100%;
  height: 100%;
}